.card {
  font-family: Verdana, sans-serif;
  border: 2px solid #0c73e0;
  border-radius: 7px;
  padding: 2vw;
  box-shadow: 1px 1px 15px 3px #79b;
  text-align: center;
  width: 60vw;
  color: white;
  text-shadow: 2px 1px 5px #333;
  h1 {
    font-family: Verdana, sans-serif;
    margin-bottom: 1rem;
  }
  img {
    width: 18vw;
  }
}

@media screen and (max-width: 680px) {
  .card {
    width: 100%;
    margin-top: 2rem;
    img {
      width: 50vw;
    }
  }
}
