h1 {
  color: white;
  font-family: Verdana, sans-serif;
  margin-bottom: 1rem;
  text-shadow: 2px 1px 5px #333;
}
.chart {
  padding: 1vw;
  background-color: white;
  width: 55vw;
  height: 30vw;
  border-radius: 5px;
  box-shadow: 1px 1px 15px 3px #79b;
}
